@tailwind base;
@tailwind components;
@tailwind utilities;

textarea {
  field-sizing: content;
}

.entry {
  animation: fadeIn 0.2s ease-in-out both;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}